@page "/dom"
@inherits Blazor.Abstract.IBenchmarkComponentBase

<h3>DomBenchmark</h3>

@code {
    public string Name => "Test manipulacji DOM";
    public Task SetupTest()
    {
        throw new NotImplementedException();
    }

    public Task RunTest()
    {
        throw new NotImplementedException();
    }

}
