@page "/http"
@implements Blazor.Abstract.IBenchmarkComponentBase

<h3>HttpBenchmark</h3>

@code {
    public string Name => "Test komunikacji HTTP";
    public Task SetupTest()
    {
        throw new NotImplementedException();
    }

    public Task RunTest()
    {
        throw new NotImplementedException();
    }

}
